LOCALE = "en_CA"
LOCAL_TIMEZONE = "America/Toronto"
ROTATE_IMAGE = True
DEBUG = False

"""Get events from Google Calendar.

To get it, go to your Google Calendar, click on the options menu next to the calendar
in the sidebar. Choose 'Settings and sharing.' Scroll down to 'Integrate calendar' and
copy the 'Secret address in iCal format'
"""
CALENDAR_URLS = [
    "https://calendar.google.com/.../basic.ics",
    "webcal://....icloud.com/..."
]

GOOGLE_CONTACTS_GROUP = "some_google_contacts_group_id"

CALDAV_CONTACT_URL = "https://..."
CALDAV_CONTACT_USER = "username"
CALDAV_CONTACT_PWD = "passw0rd"
